<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/Areca.app</string>
		<key>CFBundleIdentifier</key>
		<string>io.cordova.areacaa</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: charlinelaporte@protonmail.com (GY49L68QQ6)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2018-09-01T15:26:09Z</date>
	<key>Name</key>
	<string>Areca</string>
	<key>SchemeName</key>
	<string>Areca</string>
</dict>
</plist>
